{% extends 'base.html' %}
{% block title %}Регистарция{% endblock %}

{% block content %}
    <div class="row min-vh-100 flex-column flex-md-row align-items-center">
        <div class="col-md-4"></div>
        <div class="col-12 col-md-4 p-0 flex-shrink-1">
            {% if arguments.error %}
                <div class="alert alert-danger" role="alert">
                    {{ arguments.error }}
                </div>
            {% endif %}
            <form method="post" action="{% url 'register_url' %}">
                {% csrf_token %}
                {% for field in arguments.form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {#                        {{ field.label }}#}
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="hidden" name="next" value="{{ arguments.next }}"/>
                <button type="submit" class="btn btn-light btn-block">Регистрация</button>
            </form>
            <div style="display: block;  text-align:center;">
                <a href="{% url 'login_url' %}" class="badge badge-dark pl-0 m-4">Войти</a>
            </div>
        </div>
    </div>
{% endblock %}